[client]
default-character-set = utf8mb4

[mysqld]
log-error=/var/log/mariadb/mariadb-error.log

innodb_file_format = Barracuda
innodb_file_per_table = 1
innodb_large_prefix

character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
skip-character-set-client-handshake

thread_cache_size = 4

innodb_stats_on_metadata = OFF

[mysql]
default-character-set = utf8mb4
